<library path="src">
  <class name="StartPlugin" type="can_bus_gui.start_module.StartPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui> 
      <label> </label>
      <icon type="theme">system-run</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library> 
