<library path="src">
  <class name="Canbus_Dashboard_Plugin" type="can_bus_gui.canbus_dashboard_module.Canbus_Dashboard_Plugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Monitor the Canbus with this GUI
    </description>
    <qtgui>
      <label> </label>
      <icon type="theme">system-help</icon>
      <statustip>Monitor the Canbus with this GUI</statustip>
    </qtgui>
  </class>
</library>
